{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block css-files %}
    <link rel="stylesheet" href="{% static "css/index.css" %}"/>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row slide-images" id="sliding-images">
            <div class="row carousel-holder">
                <div class="col-md-8">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for slideImage in slideImages %}
                                {% if forloop.first %}
                                    <li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter}}" class="active"></li>
                                {% else %}
                                    <li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter}}"></li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for slideImage in slideImages %}
                                {% if forloop.first %}
                                    <div class="item active">
                                        <img class="slide-img" src="/media/{{slideImage.image}}" alt="">
                                    </div>
                                {% else %}
                                    <div class="item">
                                        <img class="slide-img" src="/media/{{slideImage.image}}" alt="">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-info">
                        <div class='image-container'>
                            <img src="/static/logo.png">
                        </div>
                        <div>
                            <p>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                Trần Đăng Ninh, Cầu Giấy, Hà Nội
                            </p>
                            <p>
                                <span class="glyphicon glyphicon-phone"></span>
                                0976.339.117 - 0919.904.988
                            </p>

                            <img style="width: 150px" src='/static/text.png'>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12 category-box-col">
                <div class="category-box">
                {% for categoryL2 in category %}
                    <p class="level2">{{categoryL2.name}}</p>
                    {% for categoryL1 in categoryL2.category_set.all %}
                        <a href="/products/category/{{categoryL1.id}}" class="level1">{{categoryL1.name}}</p></a>
                    {% endfor %}
                {% endfor %}
                </div>
            </div>

            <div class="col-md-10 col-sm-12 col-xs-12 product-container">
                {% if data %}
                    {% for categoryLevel2, list in data.items %}
                        <div class="row title-1">
                            <p> {{categoryLevel2}} </p>
                        </div>

                        {% for category, products in list.items %}
                            <div class="row title-2">
                                <p> &#10095; {{category.name}}
                                    <a href="/products/category/{{category.id}}"> Xem thêm</a>
                                </p>
                            </div>

                            <div class="row product-list">
                            {% for product in products %}
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-box-col">
                                    <div class="product-box">
                                        <a href="/products/{{product.id}}">
                                            <img class='product-img' title="{{product.name}}" src="/media/{{product.avatar}}">
                                        </a>
                                        <div class='product-name'> {{product.name}} </div>
                                        <div class='product-id'> #{{product.id}}</div>
                                        <div class='product-price'> {{product.price|floatformat|intcomma}} </div>
                                        <div class='product-view'>
                                            <span class="glyphicon glyphicon-eye-open" style="top: 2px"></span>
                                            {{product.view}} views
                                        </div>

                                        <div class="product-button btn btn-info btn-cta btn-block"
                                            onclick="addNewItem({{product.id}})">Thêm vào giỏ</div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

                        {% endfor %}

                    {% endfor %}
                {% elif keyword %}
                    <div class="row title-2">
                        <p> Tìm kiếm: {{keyword}} </p>
                    </div>

                    {% if not products %}
                        <div class="row title-2">
                            <p> Không tìm thấy kết quả nào... </p>
                        </div>
                    {% endif %}

                    <div class="row product-list">
                        {% for product in products %}
                        <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6 product-box-col">
                            <div class="product-box">
                                <a href="/products/{{product.id}}">
                                    <img class='product-img' title="{{product.name}}" src="/media/{{product.avatar}}">
                                </a>
                                <div class='product-name'> {{product.name}} </div>
                                <div class='product-id'> #{{product.id}}</div>
                                <div class='product-price'> {{product.price|floatformat|intcomma}} </div>
                                <div class='product-view'>
                                    <span class="glyphicon glyphicon-eye-open" style="top: 2px"></span>
                                    {{product.view}} views
                                </div>

                                <div class="product-button btn btn-info btn-cta btn-block"
                                    onclick="addNewItem({{product.id}})">Thêm vào giỏ</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="row title-2">
                        <p> Không tìm thấy kết quả nào... </p>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock%}

{% block js-files %}
    <script src="{% static "js/cart.js" %}"></script>
    <script src="{% static "js/search.js" %}"></script>
{% endblock %}
