{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block css-files %}
    <link rel="stylesheet" href="{% static "css/product.css" %}"/>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 slide-images">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>

                        {% for i in images %}
                            <li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter}}"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="slide-image" src="/media/{{product.avatar}}" alt="">
                        </div>

                        {% for image in images %}
                        <div class="item">
                            <img class="slide-image" src="/media/{{image}}" alt="">
                        </div>
                        {% endfor %}

                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-5">
                <div class="product-info-box">
                    <div class="product-info">
                        <h3>{{product.name}}</h3>
                        <p>
                            <span class="glyphicon glyphicon-barcode"></span>
                            Mã sản phẩm: #{{product.id}}
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-tag"></span>
                            Giá: {{product.price|floatformat|intcomma}}
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-eye-open"></span>
                            {{product.view}} lượt xem
                        </p>

                        <div class="fb-like fb-like-product" data-href="http://mebecun.com/products/{{product.id}}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

                        <a class="prt-button btn btn-success btn-cta btn-block"
                            onclick="addNewItem({{product.id}})">Thêm vào giỏ hàng</a>
                        <a class="prt-button btn btn-info btn-cta btn-block">Đánh giá sản phẩm</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row product-additional-info">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <section class="panel product-tabs">
                <div class="panel-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a class="clickable tab-header" href="#description-tab" role="tab" data-toggle="tab" aria-controls="description" aria-expanded="false">Description</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="description-tab" role="tabpanel" aria-labelledby="description-tab">
                            <div class="product-description">
                                <p class="preline">{{product.description|linebreaks}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                </section>
            </div>
        </div>
    </div>
{% endblock%}

{% block js-files %}
    <script src="{% static "js/cart.js" %}"></script>
    <script src="{% static "js/search.js" %}"></script>
{% endblock %}
