{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block css-files %}
    <link rel="stylesheet" href="{% static "css/index.css" %}"/>
    <link rel="stylesheet" href="{% static "css/order.css" %}"/>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
        {% for product in products %}
        <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6">
            <div class="product-box">
                <a href="/products/{{product.id}}">
                    <img class='product-img' src="/media/{{product.avatar}}">
                </a>
                <div class='product-name' id='product-name-{{product.id}}' > {{product.name}} </div>
                <div class='product-id'> #{{product.id}}</div>
                <div class='product-price' id='price-{{product.id}}'> {{product.price|floatformat|intcomma}} </div>

                <div class='product-view'>
                    SLượng: <span id='sl-{{product.id}}'>1</span>
                </div>
                </p>

                <div class="buttons"><span class="col-md-4 col-xs-4 btn btn-success" onclick="increaseSL({{product.id}})">+</span></div>
                <div class="buttons"><span class="col-md-4 col-xs-4 btn btn-warning" onclick="decreaseSL({{product.id}})">-</span></div>
                <div class="buttons"><span class="col-md-4 col-xs-4 btn btn-danger" onclick="deleteItem({{product.id}})">Xóa</span></div>

            </div>
        </div>
        {% endfor %}
        </div>

        {% if not thankyou %}
            <div class="row">
                <div class="col-md-12">

                <form class="form-horizontal" id="order-form" role="form" action="/orders/" method="post">

                    {% csrf_token %}

                    <div class="form-group">
                        <label class="control-label col-md-2" for="cost">Thành tiền (VND):</label>
                        <div class="col-md-8">
                            <label class="col-md-8" id="total-cost">xxx</label>
                            <input style="display:none" type="text" class="form-control" id="cost" name='cost'>
                        </div>
                    </div>

                    <div class="form-group {% if order and order.customer == '' %}has-error has-feedback{% endif%}">
                        <label class="control-label col-md-2" for="email">Họ và Tên:</label>
                        <div class="col-md-8">
                            <input required="true" type="text" class="form-control" id="email" placeholder="Jarvis" name='name' value='{{order.customer}}'>
                            {% if order and order.customer == '' %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{% endif%}
                        </div>
                    </div>

                    <div class="form-group {% if order and order.phoneNumber == '' %}has-error has-feedback{% endif%}">
                        <label class="control-label col-md-2" for="phone">Số điện thoại:</label>
                        <div class="col-md-8">
                            <input required="true" type="tel" class="form-control" id="phone" placeholder="123456789" name='phone' value='{{order.phoneNumber}}'>
                            {% if order and order.phoneNumber == '' %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{% endif%}
                        </div>
                    </div>

                    <div class="form-group {% if order and order.address == '' %}has-error has-feedback{% endif%}">
                        <label class="control-label col-md-2" for="address">Địa chỉ giao hàng:</label>
                        <div class="col-md-8">
                            <input required="true" type="text" class="form-control" id="address" placeholder="..." name='address' value='{{order.address}}'>
                            {% if order and order.address == '' %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{% endif%}
                        </div>
                    </div>

                    <div class="form-group {% if order and order.note == '' %}has-error has-feedback{% endif%}">
                        <label class="control-label col-md-2" for="note">Yêu cầu khác:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="note" placeholder="Size áo, độ tuổi bé, ..." name='note' value='{{order.note}}'>
                            {% if order and order.note == '' %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{% endif%}
                        </div>
                    </div>

                    <div class="form-group" style='display:none'>
                        <label class="control-label col-md-2" for="note">Products:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="order-products" name='products'>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="order-button col-sm-offset-2 col-md-8">
                            <button type="submit" class="btn btn-success btn-cta btn-block">Đặt Hàng</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1>Xin cám ơn. Đơn hàng của bạn đã được đặt. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất.</h1>
                </div>
            </div>

            <script>
                function setCookiee(cname, cvalue, exdays) {
                    var d = new Date();
                    d.setTime(d.getTime() + (exdays*24*60*60*1000));
                    var expires = "expires="+d.toUTCString();
                    document.cookie = cname + "=" + cvalue + "; " + expires + "; path=/";
                }

                setCookiee('items', '', 1000);
                setCookiee('numberOfItems', '', 1000);
            </script>
        {% endif %}

    </div>
    <!-- /.container -->
{% endblock%}

{% block js-files %}
    <script src="{% static "js/cart.js" %}"></script>
    <script src="{% static "js/search.js" %}"></script>
{% endblock %}
